<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="StatisticsFilterDTO" type="com.app.maria.domain.statistics.dto.StatisticsFilterDTO"/>
        <typeAlias alias="AgeInvestmentStatDTO" type="com.app.maria.domain.statistics.dto.AgeInvestmentStatDTO"/>
        <typeAlias alias="ProductPurchaseStatDTO" type="com.app.maria.domain.statistics.dto.ProductPurchaseStatDTO"/>
        <typeAlias alias="FxExchangeStatDTO" type="com.app.maria.domain.statistics.dto.FxExchangeStatDTO"/>
        <typeAlias alias="AccountBenefitStatDTO" type="com.app.maria.domain.statistics.dto.AccountBenefitStatDTO"/>
        <typeAlias alias="ReliefRateStatDTO" type="com.app.maria.domain.statistics.dto.ReliefRateStatDTO"/>
    </typeAliases>

    <environments default="statistics-mapper-test">
        <environment id="statistics-mapper-test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:mem:statistics_mapper_test;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/statistics/statisticsMapper.xml"/>
        <mapper resource="mappers/sellorder/sellLimitMapper.xml"/>
    </mappers>
</configuration>
