<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias alias="SellOrderDTO" type="com.app.maria.domain.sellorder.dto.SellOrderDTO"/>
        <typeAlias alias="SellOrderHistoryDTO" type="com.app.maria.domain.sellorder.dto.SellOrderHistoryDTO"/>
    </typeAliases>

    <environments default="sellorder-mapper-test">
        <environment id="sellorder-mapper-test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.h2.Driver"/>
                <property name="url" value="jdbc:h2:mem:sellorder_mapper_test;MODE=MySQL;DB_CLOSE_DELAY=-1;DATABASE_TO_LOWER=TRUE"/>
                <property name="username" value="sa"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mappers/sellorder/SellOrderMapper.xml"/>
    </mappers>
</configuration>